@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Fira Sans", serif; */
*{
    margin: 0px;
    padding: 0px;
}
/* making style in the whole html body section as needed, I use laptop so screen is short , thats why I take 100% width & as per require I use background-size: cover */
.universal{
    padding: 31px 160px 50px 160px;
    width: 100%;
    background-size: cover;
}
/* shared class for hover effect */
.hv:hover{
    background-color: aqua;  
}
.mt{
    display: flex;
    justify-content: space-between;
}
#nb{
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    padding: 15px 30px;
    border: 1px solid #006A50;
    border-radius: 8px;
}
.nvh{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}
.hero{
    background-color: #C6E4D6;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
}
#s{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}
#hh{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
}
.h-btn{
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 17px 34px;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    margin-top: 24px;
}
#im{
    width: 474px;
    height: 400px;
}
.h-tx{
    margin: 117px 32px 117px 60px;
}
.h-im{
    margin: 80px 60px 80px 32px;
}
.box{
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.bx1{
    padding: 32px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
}
.TVF{
    margin-top: 80px;
}
.bu{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 11px 20px;
    background-color: #5490F5;
    margin-top: 24px;
    border-radius: 8px;
    border: none;
}
/* shared class for all paragrapf of first section in main tag */
.ba{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
.dt{
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 24px;
    margin-bottom: 12px;
}
/* shared section heading style */
.common{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.DY{
    background-image: url(../assets/quote-bg.png);
    background-position: 24px 20px;
    background-repeat: no-repeat;
    padding: 48px 24px;
    background-color: #FFFFFF;
    box-shadow:5px 5px 30px rgba(14, 14, 14, 0.15);
    border: 2px solid rgba(14, 14, 14, 0.15);
    border-radius: 10px;
}
.Dr{
    font-size: 20px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 12px;
    margin-bottom: 4px;
}